* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .product-wrapper {
    background: rgb(243, 233, 206);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .all-products {
    padding: 50px 20px;
    padding-top: 100px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .single-product-card {
    background: rgb(184, 170, 91);
    border: 2px solid black;
    margin: 10px 30px 0 0;
    padding: 20px 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 550px;
  }
  .btn-warning {
  color: black;
  width: 150px !important;
  height: 100px !important;
  background: rgb(184, 170, 91); /*ja sam dodala boju */
  border: 2px solid black;/*ivice isto */
  font-size: 20px;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
}
  .product-name,
  .product-show-price {
    font-family: "Indie Flower", cursive;
  }
  .product-name {
    font-weight: bolder;
  }
  .product-show-price {
    margin-top: 40px;
    font-size: 25px;
  }
  .product-show-price:hover,
  .bi {
    cursor: pointer;
  }
  .bi {
    width: 25px;
    height: 25px;
  }
  .product-img {
    width: 250px;
    height: 250px;
    border: 1px solid black;
  }

.add-product-button-wrapper {
  padding-top: 30px;
  margin-right: 15%;
  margin-left: 30%;/*ovo sam ja dodala da bolje izgleda dugme */
  align-self: center;
}
.search-bar {
  margin-top: 100px;
  width: 400px;
  height: 100px;
  border: 2px solid black;
  text-align: center;
}